<header class="header-container row m-0">
    <div class="header-title-content col-6">
        <h2 class="header-title">Bootcamp DevSuperior</h2>
    </div>
    <ul class="header-nav-bar-content col-6 row justify-content-end">
        <li>
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="col">
                HOME
            </a>
        </li>
        <li>
            <a routerLink="/search" routerLinkActive="active" class="col">SEARCH</a>
        </li>
    </ul>
</header>