<div class="container home-container">
    <div class="row align-items-center home-content">
        <div class="col-md-6 col-sm-12">
            <h1 class="home-title">Desafio do Capítulo 3,<br /> Bootcamp DevSuperior</h1>
            <div class="home-subtitle mt-1">
                <p>
                    Bem-vindos ao desafio do capítulo 3 do Bootcamp DevSuperior.
                </p>
                <p>
                    Favor observar as instruções passadas no capítulo sobre a elaboração deste projeto.
                </p>
                <p>
                    Este design foi adaptado a partir de Ant Design System for Figma, de Mateusz Wierzbicki:
                    antforfigma@gmail.com
                </p>
            </div>
            <button class="btn mt-3 home-button" routerLink="/search">
                Começar
            </button>
        </div>
        <div class="col-md-6 d-none d-md-block">
            <img src="../../../assets//images/home.svg" alt="" class="home-image">
        </div>
    </div>
</div>